.header > * {
    margin-bottom: 16px;
}

.header-top {
    height: 70px;

    display: flex;
    justify-content: space-between;
}
.header-top-logo {
    width: 140px;
    object-fit: contain;
    object-position: bottom;
}
.header-top ul {
    display: flex;
}
.header-top li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top li.is-active {
    color: #0065FC;

    border-top: 3px solid #0065FC;
    border-bottom: 3px solid transparent;
}
.header-top li a {
    padding: 15px;
}

.header-title {
    font-size: 16px;
}

.header-form {
    font-size: 16px;

    display: flex;
}
.header-form > * {
    width: 45px;
    height: 45px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-form-icon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}
.header-form-input {
    width: 200px;
    padding: 0 20px;
    border: 2px solid #F2F2F2;
    border-right: 0;
}
.header-form-btn {
    width: auto;
    padding: 0 20px;

    color: white;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.header-form-btn-icon {
    display: none;
}

.header-filtre {
    margin: 40px 0;

    font-weight: bold;

    display: flex;
    align-items: baseline;
}
.header-filtre p {
    margin: 0;
    margin-right: 20px;
    font-weight: bold;
}
.header-filtre ul {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 12px;
    align-items: center;
}
.header-filtre ul i {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    margin-right: 12px;

    color: #0065FC;
    background-color: #DEEBFF;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -2px;
}
.header-filtre ul li {
    height: 45px;
    padding-right: 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;

    transition: .3s;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.header-filtre ul li:hover {
    color: white;
    background-color: #0065FC;
}

.header-info p {
    display: flex;
    align-items: top;
}
.header-info i {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;

    color: #0065FC;
    font-size: 12px;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}


/*** MEDIA QUERIES ***/

@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
    .header-top {
        margin: 30px 0 90px;

        flex-direction: column;
        align-items: center;
    }
    .header-top ul {
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
    }
    .header-top li {
        flex: 1 1 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid #F2F2F2;
    }
    .header-top li.is-active {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    
    .header-form-btn {
        width: 45px;
        padding: 0;
    }
    .header-form-btn-icon {
        display: inline;
    }
    .header-form-btn-text {
        display: none;
    }

    .header-filtre {
        flex-direction: column;
        gap: 12px;
    }
}
