/*** BASES ***/

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    width: 992px;
    margin: auto;
    padding: 0 35px;

    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 16px;
    margin: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style-type: none;
}

input:focus {
    outline: none;
}

.l-container {
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-herbergements_marseille,
.aside-les_plus_populaires {
    padding: 28px;

    border-radius: 14px;
    background-color: #F2F2F2;
}


/*** MODULES ***/

/* Header */

.header > * {
    margin-bottom: 16px;
}

.header-top {
    height: 70px;

    display: flex;
    justify-content: space-between;
}
.header-top-logo {
    width: 100px;
    object-fit: contain;
    object-position: bottom;
}
.header-top ul {
    display: flex;
}
.header-top li {

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top li:hover {
    
}
.header-top li.is-active {
    color: #0065FC;

    border-top: 2px solid #0065FC;
    border-bottom: 2px solid transparent;
}
.header-top li a {
    padding: 15px;
}

.header-title {
    font-size: 13px;
}

.header-form {
    display: flex;
}
.header-form > * {
    height: 35px;
    padding: 0 13px;

    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.header-form-icon {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
}
.header-form-input {
    width: 160px;
    border: 1px solid #F2F2F2;
    border-right: 0;
}
.header-form-btn {
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.header-filtre {
    margin: 30px 0;

    font-weight: bold;

    display: flex;
    align-items: baseline;
}
.header-filtre p {
    margin: 0;
    margin-right: 20px;
    font-weight: bold;
}
.header-filtre ul {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 12px;
    align-items: center;
}
.header-filtre ul i {
    width: 34px;
    height: 34px;
    border-radius: 25px;
    margin-right: 10px;

    color: #0065FC;
    background-color: #DEEBFF;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px; left: -1px;
}
.header-filtre ul li {
    height: 34px;
    padding-right: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;

    cursor: pointer;
}

.header-info p {
    display: flex;
    align-items: center;
}
.header-info i {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;

    color: #0065FC;
    font-size: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/*** SECTION HEBERGEMENT MARSEILLE ***/

.section-herbergements_marseille {
    width: 610px;
}

.section-herbergements_marseille-cards {
    padding: 10px 0 25px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
}

.card-accommodation {
    width: 170px;
    height: 137px;
    border: 3px solid white;
    border-radius: 20px;
    
    box-shadow: 0 2px 9px rgba(160, 160, 160, .5);
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}
.card-accommodation img {
    height: 78px;
    object-fit: cover;
}

.card-accommodation-desc {
    margin: 0 12px;
    margin-top: 5px;

    display: flex;
    flex-direction: column;
}
.card-accommodation-desc > * {
    line-height: 15px;
    margin: 0;
}
.card-accommodation-desc h3 {
    font-size: 10px;
}
.card-accommodation-desc p {
    font-size: 10px;
}
.card-accommodation-desc .price {
    font-weight: bold;
}

.stars-3, .stars-4, .stars-5 {
    font-size: 9px;
    font-family: "Font Awesome 5 Free";
    letter-spacing: 1px;
}
.stars-3::before {
    content: "";
    color: #0065FC;
}
.stars-3::after {
    content: "";
    color: #D9D9D9;
}
.stars-4::before {
    content: "";
    color: #0065FC;
}
.stars-4::after {
    content: "";
    color: #D9D9D9;
}
.stars-5::before {
    content: "";
    color: #0065FC;
}

.section-herbergements_marseille-afficher_plus {
    height: 22px;

    font-weight: bold;
    cursor: pointer;
    
    display: inline-flex;
    align-items: center;
}


/*** SECTION HEBERGEMENT MARSEILLE ***/

.aside-les_plus_populaires {
    width: 280px;
}

.aside-les_plus_populaires-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aside-les_plus_populaires .card-accommodation {
    width: 235px;
    height: 100px;
    
    flex-direction: row;
}
.aside-les_plus_populaires .card-accommodation img {
    width: 88px;
    height: auto;
}
.aside-les_plus_populaires-cards {
    padding: 10px 0 5px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
}
.aside-les_plus_populaires .card-accommodation [class^="stars"] {
    flex-grow: 1;
    display: flex;
    align-items: end;
}


/*** SECTION ACTIVITES MARSEILLE ***/

.section-activites_a_marseille h2 {
    margin: 20px 0;
}
.section-activites_a_marseille-cards {
    height: 310px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.card-activity {
    width: 208px;
    height: 135px;
    
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(180, 180, 180, .5);
    cursor: pointer;

    display: flex;
    flex-direction: column;
}
.card-activity:nth-child(3n+1) {
    height: 300px;
}
.card-activity h3 {
    height: 38px;
    padding: 14px;
    margin: 0;

    font-size: 11px;
    
    order: 1;
    display: flex;
    align-items: center;
}
.card-activity img {
    /* Corrige la hauteur automatique de l'image */
    height: 0;

    object-fit: cover;

    flex-grow: 1;
}


/*** MEDIA QUERIES ***/

@media (max-width: 992px) {
	body {
        width: 768px;
    }
}
@media (max-width: 768px) {
	body {
        width: 100%;
    }
}
